<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
</head>
<body>

<section layout:fragment="content">
<div class="text-center">
    <br>
    <h1 class="mb-3">Cégkezelő 0.1beta</h1>
    <div class="title">
        <p><span>Név:</span> Vincze Marcell (BIG9S5)</p>
        <p><span>Tárgy:</span> Programozási Környezetek (BPI1223)</p>
        <p><span>Félév:</span> 2024/2025/II. félév</p>
        <p><span>Github:</span> <a href="https://github.com/MarBot001/Company_Management" target="_blank">Project elérése</a></p>
        <p><span>Email:</span> <a href="mailto:bnymarci0123@gmail.com">bnymarci0123@gmail.com</a></p>
    </div>
</div>
</section>
</body>
</html>
