<!-- src/main/resources/templates/new-employee.html -->
<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
</head>
<body>
<section layout:fragment="content">
    <h1>Új alkalmazott hozzáadása</h1>
    <form th:action="@{/employees}" th:object="${employee}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Név</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" required>
        </div>
        <div class="mb-3">
            <label for="position" class="form-label">Beosztás</label>
            <input type="text" th:field="*{position}" class="form-control" id="position" required>
        </div>
        <div class="mb-3">
            <label for="company" class="form-label">Cég</label>
            <select th:field="*{company.id}" class="form-select" id="company" required>
                <option th:each="company : ${companies}" th:value="${company.id}" th:text="${company.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Mentés</button>
        <a th:href="@{/employees/view}" class="btn btn-secondary">Vissza</a>
    </form>
</section>
</body>
</html>
