<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
</head>
<body>


<section layout:fragment="content">
<h1 class="mb-4">Új cég hozzáadása</h1>

<form th:action="@{/companies/save}" th:object="${company}" method="post">
    <div class="mb-3">
        <label class="form-label">Név</label>
        <input type="text" th:field="*{name}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Helyszín</label>
        <input type="text" th:field="*{location}" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Mentés</button>
    <a href="/companies/view" class="btn btn-secondary ms-2">Vissza</a>
</form>
</section>
</body>
</html>
